<h2>celebrities</h2>

<form action="/celebrities/create" method="POST">

  <input
    type="text"
    name="name"
    id="name-id"
    placeholder="Enter Celebrities Name"
  />

  <input
    type="text"
    name="occupation"
    id="occupation-id"
    placeholder="Enter occupation"
  />

  <input
    type="text"
    name="catchPhrase"
    id="catchPhrase-id"
    placeholder="Enter catchPhrase"
  />

  <button type="submit">Submit</button>
  {{! <button type="submit">Submit</button> }}

</form>