<h2>Movies</h2>

<form action="/movies/create" method="POST">
  <input type="text" name="title" id="titleId" placeholder="Enter a title" />
  <input type="text" name="genre" id="genreId" placeholder="Enter a genre" />
  <input type="text" name="plot" id="plotId" placeholder="Enter a plot" />

  <select name="cast" id="castId">
    {{#each newMovies}}
      <option value="{{this._id}}">{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Submit</button>
  {{! <button type="submit">Submit</button> }}

</form>